.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #222222;
  opacity: 0.5;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 12px;
  max-width: 266px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.loader-title {
  color: #222222;
  margin-top: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.loader-desc {
  color: #222222;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
}

.loader svg {
  animation: rotate-eighth 0.5s linear infinite;
}

@keyframes rotate-eighth {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(0.125turn); /* 45deg */
  }
}
