# Базовый URL API. Relative (same-origin): пусто или /
# Абсолютный: например https://testpostal.ru
VITE_API_BASE_URL=https://testpostal.ru

# Базовый путь для приложения (base в Vite). По умолчанию: /
# Например: /app/ или /miniapp/
VITE_BASE_URL=/posting_app/

# Ngrok домен для allowedHosts в Vite dev server
NGROK_HOST=jannette-grimy-shiela.ngrok-free.dev
